._ezo{cursor:pointer}._1yib{bottom:0;left:0;overflow-y:hidden;pointer-events:none;position:fixed;right:0;top:0;z-index:401}._2alo{position:absolute}
._eyq{margin-left:2px;position:relative;top:1px}._eyq._5dzy{background-image:url(/rsrc.php/v3/yy/r/ab1vXek-2pV.png);background-repeat:no-repeat;background-size:auto;background-position:0 0;height:16px;width:16px}

#bootloader_oVsFK{height:42px;}.bootloader_oVsFK{display:block!important;}